<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

        body {
            font-family: 'Press Start 2P', cursive;
        }

        .nes-progress {
            height: 20px;
        }

        pre {
            margin: 0;
        }

        .container {
            margin: 30px auto;
            max-width: 1080px;
        }

        .server {
            margin-bottom: 3rem;
        }
    </style>
</head>

<body>

    <div class="container">
        <p class="nes-balloon from-left nes-pointer">
            {{top_message}}
        </p>
        <p style="float: right;">Request time: {{now}}</p>
        {% for server in servers %}

        <div class="server">
            <p class="nes-badge" style="width: 100%;">
                <span class="is-dark">
                    {{server.name}}
                    <br>
                    {{server.ip}}
                </span>
            </p>
            <br>
            <br>

            {% if server.active %}
            <p>
                RAM Usage: {{server.ram.info.used}} MiB / {{server.ram.info.total}} MiB
                <progress class="nes-progress is-success" value="{{server.ram.info.used}}" max="{{server.ram.info.total}}"></progress>
            </p>

            GPUs:
            <div class="nes-table-responsive">
                <table class="nes-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Temp</th>
                            <th>Memory Usage</th>
                            <th style="width: 300px;">GPU Util</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gpu in server.nvidia_smi.gpu_list %}
                        <tr>
                            <td>{{gpu.index}}</td>
                            <td>{{gpu.name}}</td>
                            <td>
                                <pre>{{gpu.temperature_gpu}} °C</pre>
                                <pre>{{gpu.temperature_memory}} °C</pre>
                            </td>
                            <td>
                                <pre>{{"%6s MiB /%6s MiB"|format(gpu.memory_used,gpu.memory_total) }}</pre>
                                <progress class="nes-progress is-success" value="{{gpu.memory_used}}"
                                    max="{{gpu.memory_total}}"></progress>
                            </td>
                            <td>{{gpu.utilization_gpu}} % 
                                <progress class="nes-progress is-success"
                                    value="{{gpu.utilization_gpu}}" max="100"></progress>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>

            Tasks:
            <div class="nes-table-responsive">
                <table class="nes-table">
                    <thead>
                        <tr>
                            <th>GPU Name</th>
                            <th>Tasks</th>
                            <th>Memory Usage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for process in server.nvidia_smi.processes%}
                        <tr>
                            <td>{{process.gpu_name}}</td>
                            <td>{{process.process_name}}</td>
                            <td>
                                <pre>{{"%12s"|format(process.memory_used)}}</pre>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            Server is down!
            <!-- 502 or error -->
            {% endif %}
        </div>
        {% endfor %}
        <!-- server end -->

        <a href="https://github.com/RESBI/multiple-server-gpu-monitor"><i class="nes-octocat animate"></i></a>
    </div>


</body>

</html>
